*.debhelper.log
*.debhelper
*.substvars
debhelper-build-stamp
configd/
configd-trial/
configd-v1-yang/
config-utils/
files
ietf-inet-types-yang/
ietf-netconf-monitoring-yang/
ietf-netconf-with-defaults-yang/
ietf-netconf-yang/
ietf-yang-types-yang/
ifmgrd/
ifmgrd-v1-yang/
tmp/
vyatta-system-acm-configd-v1-yang/
yang-dev-utils/
yang-utils/
yangd-v1-yang/
